# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\my college\leetcode\javascript_501-600\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
